/*------ google font-link -----*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap");

/*-------- body 
----------------*/
body {
  font-family: "Montserrat", sans-serif;
  margin: 50px;
}
/* header-banner */
.top-banner {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0px;
}
.header-banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #161616;
  width: 1321px;
  height: 646px;
  border-radius: 10px;
  padding: 30px 60px;
}
.banner-text {
  width: 40%;
  color: white;
}
.banner-text h1 {
  font-weight: 900;
  font-size: 70px;
  margin: -10px;
}
.banner-text p {
  font-weight: 100px;
  margin-bottom: 20px;
  padding-bottom: 20px;
}
.banner-text a {
  text-decoration: none;
  background-color: tomato;
  color: white;
  padding: 10px 20px;
  font: bold;
}
.banner img {
  height: 613px;
  margin-top: 95px;
}
 /* section two */

.menu-blogs{
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-gap: 20px;
  width: 80%;
  margin-bottom: 90px;
}

.menu{
  grid-row: 1/3;
  background-color: #161616;
  width: 312px;
  height: 312px;
  border-radius: 10px;

}
.menu p {
  background-color: rgb(255, 255, 255);
  width: 200px;
  height: 50px;
  padding:10px 20px;
  border-radius: 10px;
  margin-left: 30px;
  margin-top: 25px;
  text-align: center;
 
}
.menu a{
  text-align: center;
  text-decoration: none;
}
#blog{
  background-color: red;
}
.blog{
  background-color: rgb(255, 255, 255);
  width: 312px;
  height: 362px;
  border-radius: 10px;
  box-shadow: 2px 2px grey ;
}
.blog button{
  padding: 2px 10px;
  margin-top: 5px;
  margin-left: 10px;
  font: bold;
}
.blog p{
  margin-left: 10px;
}
.container-blog-icon{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px ;
}
/* \ <!-- footer section --> */
.footer{
  background-color: #161616;
  width: 1350px;
  height: 400px;
  margin: -70px;
}
.footer h1{
  text-align: center;
  padding: 50px;
  color: white;
}
hr{
  color: #ffffff53;
  width: 80%;
  margin: auto;
  margin-bottom: 70px;
}
.footer-bar{
  padding-left: 20px;
  text-align: center;
}
.footer-bar a{
  text-decoration: none;
  color: #B9B9B9;
  padding-left: 40px;
}