/*------ google font-link -----*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap");

/*-------- body 
----------------*/
body {
  font-family: "Montserrat", sans-serif;
  margin:50px;
}
 /* <!-- header-banner section -->   */
.top-banner {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0px;
}
.header-banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #161616;
  width: 1321px;
  height: 646px;
  border-radius: 10px;
  padding: 30px 60px;
}
.banner-text {
  width: 40%;
  color: white;
}
.banner-text h1 {
  font-weight: 900;
  font-size: 70px;
  margin: -10px;
}
.banner-text p {
  font-weight: 100px;
  margin-bottom: 20px;
  padding-bottom: 20px;
}
.banner-text a {
  text-decoration: none;
  background-color: tomato;
  color: white;
  border-radius: 5px;
  padding: 10px 20px;
  font: bold;
  width: 100px;
  height: 100px;
  transition: width 2s;
}
.banner-text a :hover{
   padding: 15px 10px;
    background: red;
}
.banner img {
  height: 613px;
  margin-top: 95px;
}
/* section two --------
-------blogs-match */
.blogs-match {
    display: flex;
    flex-direction: row;
  }

.menu-blogs {
  background-color: #1c1b1b;
  width: 312px;
  height: 250px;
  border-radius: 10px;
  margin-top: 25px;
}
.menu a {
  display: block;
  text-decoration: none;
  color: rgb(18, 17, 17);
  text-align: center;
}

#all-group{
  background-color: white;
  padding:15px;
  margin: 20px 10px;
}
#Upcoming-Match{
  background-color: white;
  padding:15px;
  margin: 20px 10px;
}
#blog {
  background-color: red;
  padding:15px;
  margin:20px 10px;
}
#blog a {
  color: white;
}
.container-blog{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 20px;
}

.blog {
  margin: 10px;
  background-color: rgb(255, 255, 255);
  width: 312px;
  height: 362px;
  border-radius: 10px;
  border: 1px solid lavender;
}
.blog button {
  padding: 2px 10px;
  margin-top: 5px;
  margin-left: 10px;
  font: bold;
}
.blog p {
  margin-left: 10px;
}
.container-blog-icon {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
}
/* start second website----*/
.match-time {
  width: 312px;
  height: 224px;
  background-color:rgb(255, 255, 255);
  border-radius: 5px;
  margin: 10px;
  border: 1px solid lavender;
}
.match {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 30px;
}
.match img {
  width: 93px;
  height: 52px;
}
.match h3 {
  margin: 0 -5px;
  padding: 20px;
}
.match-text {
  text-align: center;
}
.match-text p {
  margin-top: -6px;
}
/* end second website----*/
.view-button button{
  color: rgb(255, 255, 255);
  background-color: red;
  padding: 15px 60px;
  font-size: 20px;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  border: none;
  border-radius: 5px;
  
  
}
.view-button{
  height: 200px;
  position: relative;
  display: none;
}

/* \ <!-- footer section --> */
.footer {
  background-color: #161616;
  width: 1350px;
  height: 380px;
  margin-left: -50px;
  margin-bottom: -50%;
}
.footer h1 {
  text-align: center;
  padding: 70px;
  color: white;
  margin-bottom: -20px;
}
hr {
  color: #ffffff53;
  width: 80%;
  margin: auto;
  margin-bottom: 70px;
}
.footer-bar {
  padding-left: 20px;
  text-align: center;
}
.footer-bar a {
  text-decoration: none;
  color: #b9b9b9;
  padding-left: 40px;
}
.socail-icon {
  display: flex;
  font-size: 30px;
  width: 100%;
  gap: 20px;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}
.fa-facebook-square{
  color: white;
}
.fa-instagram-square{
  color: white;
}
.fa-linkedin{
  color: white;
}
.fa-whatsapp-square{
  color: white;
}
.fa-facebook-messenger{
  color: white;
}
/*----------- media qurey start---------- */
/* mobile divcse */
 @media only screen and (max-width: 668px) {
   body{
    overflow-x: hidden;
  } 

  .header-banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #161616;
  width: 334px;
  height: 500px;
  border-radius: 10px;
  }
  .banner-text {
  text-align: center;
  width: 100%;
  color: white;
}
.banner-text h1 {
  font-weight: 700;
  font-size: 25px;
  margin: 20px;
}
.banner-text p {
  font-size: 10PX;
  font-weight: 100px;
  margin-bottom: 20px;
}
.banner-text a {
  text-decoration: none;
  background-color: tomato;
  color: white;
  border-radius: 5px;
  padding: 10px 20px;
  font: bold;
}
.banner img {
  width: 253px;
  height: 265px;
  margin-top: 23px;
  
}
/*-----------------
 menu and blogs 
----------------*/
.menu-blogs{
  background-color: white;
}
.menu p {
  background-color: rgb(255, 255, 255);
  width: 350px;
  height: 50px;
  border: 1px solid gray;
  border-radius: 10px;
  margin-right: 30px;
  text-align: center;
}
.menu a {
  text-decoration: none;
  color: #100f0f;
  border: 2px solid black;
}
  /* start website two blogs */
.blogs-match {
    display: flex;
    flex-direction: column;
   }
  .container-blog {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    margin-top:50px;
  }
    /* start website two blogs */


    /* \ <!-- footer section --> */
  .footer {
  background-color: #161616;
  width: 150%;
  height: 100%;
  text-align: center;
}
.footer h1 {
  text-align: center;
  font-size: 60px;
  color: white;
  margin-bottom: 0px;
}
hr {
  color: #ffffff53;
  width: 60%;
  margin-right:120px;
}
.footer-bar a{
  padding-left: 40%;
}
.view-button button{
  display: none;
}
 .footer-bar {
  padding: 30px;
  text-align: center;
} 
.footer-bar a {
  display: flex;
  padding-top: 40px;
  text-decoration: none;
  color: #b9b9b9;
  font-size: 15px;
  text-align: center;
}
.footer-bar hr{
  display: none;
 }
} 
/*---------------------
 -----------tab divecs -----------*/
@media only screen and (min-width: 669px) and (max-width: 1000px) {
   body{
    overflow-x: hidden;
  } 
 .header-banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #161616;
  width: 734px;
  height: 298px;
  border-radius: 10px;
  }
.banner-text {
  margin-left: -10px;
  width: 40%;
  color: white;
}
.banner-text h1 {
  font-weight: 700;
  font-size: 25px;
  margin: 10px;
}
.banner-text p {
  font-size: 10PX;
  font-weight: 100px;
  margin-bottom: 10px;
  padding-bottom: 20px;
}
.banner-text a {
  text-decoration: none;
  background-color: tomato;
  color: white;
  border-radius: 5px;
  padding: 10px 20px;
  font: bold;
}
.banner img {
  height: 323px;
  margin-top: 35px;
  margin-right: -30px;
}
/*-----------------
 menu and blogs 
----------------*/
.menu{
  display: flex;
  justify-content: space-around;
}
.menu-blogs {
    background-color: #ffffff;
    width: 100%;
    height: 100px;
    border-radius: 10px;
    margin-top: 25px;
}
#Upcoming-Match {
    background-color: white;
    border: 1px solid #161616;
    padding: 15px 40px;
    border-radius: 5px;
}
#all-group {
    background-color: rgb(255, 255, 255);
    border: 1px solid #161616;
    padding: 15px 40px;
    border-radius: 5px;
}
#blog {
    background-color: red;
    padding: 15px 40px;
    margin: 20px 0px;
    border-radius: 5px;
}
#blog {
  color: rgb(255, 252, 252);
}
  /* start website two blogs */
  .blogs-match {
    display: flex;
    flex-direction: column;
}
#Upcoming-Match{
  background-color: white;
  padding:15px;
  margin:20px 10px;
}
   /* end website two blogs */

  /* blogs */
  .container-blog {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 150px;
    justify-content: space-around;
  }
  .view-button{
    display: block;
    margin-right: 30%;
  }

  /* \ <!-- footer section --> */
  .footer {
  background-color: #161616;
  width: 834px;
  height: 445px;
   justify-content: space-around;
}
.footer h1 {
  text-align: center;
  font-size: 60px;
  color: white;
  margin-bottom: 0px;
}
hr {
  color: #ffffff53;
  width: 80%;
  margin-right: 100px; 
   justify-content: space-around;

}
 .footer-bar {
  padding: 40px;
  text-align: center;
} 
.footer-bar a {
  padding-top: 40px;
  text-decoration: none;
  color: #b9b9b9;
   justify-content: space-around;
}

 .socail-icon {
  margin-top: -10px;
 }
 
}

/*---------------------
 -----------pc or laptop divecs -----------*/
@media only screen and (min-width: 1000px) {
  .footer-bar hr{
  display: none;
  }
}